#canvas {
	display: flex;
	justify-content: center;
}

.row {
	margin-top: 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.col {
	
	justify-content: space-around;
}